<!doctype html>

<html>
<head>
	<title>Profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/pages.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div class="jumbotron" id="indexJumboPost">
		<a href="/"><img src="../images/back.png" alt="Back image" class="backimg"></a>
		<a href="/"><img src="../images/home.png" alt="Home image" class="homeimg"></a>
		<center><p id="profileHead">My Posts</p></center>
	</div>

	<div class="container">
	{{#each projectsPosts}}
		<div class="projectPost" id="{{id}}">
			<a href="/individualPosts" id="thumbnailPost" class="thumbnail">
				<img src="../images/bluecircle.png" class="img" id="blueC">
				<p id="centerBlue">{{numberBlue}}</p>
				<p id="replies">replies</p>
				<img src="../images/greencircle.png" class="img" id="greenC">
				<p id="centerGreen">{{numberGreen}}</p>
				<!-- <div class="centerGreen">{{numberGreen}}</div> -->
				<p id="hugs">hugs</p>
				<p id="title">{{title}}</p>
				<!-- <img src="../images/carrot.png" class="img" id="carrot"> -->
				<p id="carrot"> > </p>
			</a>
		</div>
	{{/each}}

</div>



	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
